<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.app.community.mapper.AdminCommunityMapper">

    <select id="selectCommunityPostList" resultType="com.project.app.community.dto.CommunityPostDto">
        SELECT *
        FROM community_post
        ORDER BY post_id DESC
    </select>

    <update id="updatePostVisible">
        UPDATE community_post
        SET post_visible = #{postVisible}, updated_at = NOW()
        WHERE post_id = #{postId}
    </update>

	<delete id="deleteCommunityPost">
    DELETE FROM community_post
    WHERE post_id = #{postId}
	</delete>

</mapper>
