<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.app.review.mapper.ReviewMapper">
    <select id="selectReviewsByUserId" parameterType="String" resultType="com.project.app.review.dto.ReviewDto">
		SELECT
		r.RVW_ID AS reviewId,
		r.RSV_ID AS reservationId,
		r.RATING AS rating,
		r.CONTENT AS content,
		r.INST_ID AS instructorId,
		r.REG_DT AS registrationDateTime
		FROM REVIEW r
		INNER JOIN RESERVATION rsv ON r.RSV_ID = rsv.RSV_ID
		WHERE rsv.USR_ID = #{userId}
    </select>
    
    <select id="selectReviewById" parameterType="Long" resultType="com.project.app.review.dto.ReviewDto">
		SELECT
		RVW_ID AS reviewId,
		RSV_ID AS reservationId,
		RATING AS rating,
		CONTENT AS content,
		INST_ID AS instructorId,
		REG_DT AS registrationDateTime
		FROM REVIEW
		WHERE RVW_ID = #{reviewId}
    </select>
    
    <select id="selectReviewByReservationId" parameterType="Long" resultType="com.project.app.review.dto.ReviewDto">
		SELECT
		RVW_ID AS reviewId,
		RSV_ID AS reservationId,
		RATING AS rating,
		CONTENT AS content,
		INST_ID AS instructorId,
		REG_DT AS registrationDateTime
		FROM REVIEW
		WHERE RSV_ID = #{reservationId}
    </select>
    
    <insert id="insertReview" parameterType="com.project.app.review.dto.ReviewDto">
	    <selectKey keyProperty="reviewId" resultType="long" order="BEFORE">
        	SELECT "ADMIN"."ISEQ$$_117556".nextval AS REVIEW_ID FROM DUAL
    	</selectKey>
       	INSERT INTO REVIEW(RVW_ID, RSV_ID, RATING, CONTENT, INST_ID, REG_DT)
    	VALUES (#{reviewId}, #{reservationId}, #{rating}, #{content}, #{instructorId}, SYSDATE)
    </insert>
    
    <update id="updateReview" parameterType="com.project.app.review.dto.ReviewDto">
    	UPDATE REVIEW
    	SET 
    		RATING = #{rating},
    		CONTENT = #{content}
		WHERE RVW_ID = #{reviewId}    		
    </update>
    
    <delete id="deleteReviewById" parameterType="Long">
    	DELETE FROM REVIEW
    	WHERE RVW_ID = #{reviewId}
    </delete>
    
</mapper>

